<h1>Tracks</h1>

<section>
  <% @tracks.each do |track| %>
    <div class="track">
      <div class="cover">
        <img src="<%= track.image_url %>" alt="cover" />
        <div class="meta">
          <span class="title"><%= track.title %></span>
          <span class="artist"><%= track.artist %></span>
        </div>
      </div>
      <div class="actions">
        <%= link_to 'Show', track %>
        <%= link_to 'Edit', edit_track_path(track) %>
        <%= link_to 'Destroy', track, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

  <%= link_to 'New Track', new_track_path %>
</section>