%p#notice= notice

%p
  %b Title:
  = @track.title

%p
  %b Artist:
  = @track.artist

%p
  %b Image url:
  = @track.image_url

= link_to 'Edit', edit_track_path(@track)
|
= link_to 'Back', tracks_path
