<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Medium</th>
    <th>Tags</th>
    <th>Authors</th>
    <th>Published on</th>
    <th>Links</th>
    <th>Note</th>
    <th>Checked on</th>
    <th>Favorite</th>
    <th>Next</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.medium %></td>
    <td><%= item.tags %></td>
    <td><%= item.authors %></td>
    <td><%= item.published_on %></td>
    <td><%= item.links %></td>
    <td><%= item.note %></td>
    <td><%= item.checked_on %></td>
    <td><%= item.favorite %></td>
    <td><%= item.next %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
